body
  box-sizing border-box
  width 40rem

.tabs
  overflow hidden
  border 1px solid #ccc
  background-color #f1f1f1

.tabs button
  background-color inherit
  &.active
    background-color #ccc
  &:hover
    background-color #ddd
  border none
  outline none
  cursor pointer
  padding 8px 8px
  transition 0.3s
  font-size 2rem
  width 4rem

.tab-content
  display none
  &#cpu
    display block
  border 1px solid #ccc
  border-top none

.browser-tabs
  div
    display block
    cursor pointer
    width 40rem
    h3
      text-overflow clip
      white-space nowrap
      overflow hidden
      float left
      padding 0px 8px
      &.title
        width 84%
      &.usage
        width 16%

ul
  list-style-type none
  table-layout fixed
  padding 0.5rem 0rem
  margin 0px 0px
  width 100%
  display table

li
  display table-row

li:nth-child(odd)
  background #80808030

li:nth-child(even)
  background #ffffff

*, *:before, *:after
  box-sizing inherit
